.progress-container {
  width: 100%;
  border: 2px solid #8656cd;
  border-radius: 10px;
  padding: 2px;
  box-sizing: border-box;
}

.progress-bar {
  height: 100%;
  background-color: rgb(157, 122, 253);
  border-radius: 8px;
  transition: width 0.3s ease;
}